{
  // This file is only used to validate no rules are conflicting with Prettier
  // See `npm run lint-eslint-config-prettier`

  "root": true,

  "extends": ["ai/all"],

  "rules": {
    // ---
  }
}
